<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/workspace" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content">

		<h1>Máquinas</h1>

		<h3>Cadastro de máquina</h3>

		<form id="machineForm" class="form-group" action="/admin/machineForm"
			th:action="@{/admin/machineForm}" method="post">
			<input th:type="hidden" name="id" th:field="${machine.id}" />

			<!-- Code -->
			<div class="form-group">
				<label for="title">Código</label> <input type="text"
					class="form-control" id="code" th:field="${machine.code}" />
			</div>

			<!-- Model -->
			<div class="form-group">
				<label for="title">Modelo</label> <input type="text"
					class="form-control" id="model" th:field="${machine.model}" />
			</div>

			<!-- Cell -->
			<div class="form-group">
				<label for="title">Célula</label> <input type="text"
					class="form-control" id="cell" th:field="${machine.cell}" />
			</div>

			<!-- Manufacturer -->
			<div class="form-group">
				<label for="title">Fabricante</label> <input type="text"
					class="form-control" id="manufacturer"
					th:field="${machine.manufacturer}" />
			</div>

			<!-- Cost Center -->
			<div class="form-group">
				<label for="title">Centro de custo</label> <input type="text"
					class="form-control" id="costCenter"
					th:field="${machine.costCenter}" />
			</div>


			<a href="/admin/machine" th:href="@{/admin/machine}" class="btn btn-danger"
				role="button">Cancel</a>
			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>

	</div>

	<!-- define validation rules and activate validation -->
	<script>
		$(document).ready(function() {

			alert('Teste');
			$("#machineForm").validate({
				rules : {
					'code' : {
						required : true,
						minlength : 5,
						maxlength : 100
					},
					'model' : {
						required : true,
						minlength : 8,
						maxlength : 10000
					},
					'cell' : {
						required : true,
					},
					'manufacturer' : {
						required : true,
					},
					'costCenter' : {
						required : true,
					}
				},
				messages : {
					title : {
						required : "Por favor, preencha este campo."
					}
				}
			});
		});
	</script>
</body>
</html>