<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/workspace" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content">

		<h1>Máquinas</h1>

		<h3>Lista de máquinas cadastradas</h3>

		<!-- 		
		this.code = code;
		this.model = model;
		this.cell = cell;
		this.manufacturer = manufacturer;
		this.costCenter = costCenter;
		 -->

		<table class="table">
			<thead>
				<tr>
					<th>Código</th>
					<th>Modelo</th>
					<th>Célula</th>
					<th>Fabricante</th>
					<th>Centro de custo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="machine : ${machineList}">
					<td th:text="${machine.code}">Código</td>
					<td th:text="${machine.model}">Modelo</td>
					<td th:text="${machine.cell}">Célula</td>
					<td th:text="${machine.manufacturer}">Fabricante</td>
					<td th:text="${machine.costCenter}">Centro de custo</td>
					<td><a th:href="@{/admin/machineForm/__${machine.id}__}">Edit</a> <a
						th:href="@{/admin/machineDelete/__${machine.id}__}">Delete</a></td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-md-12">
				<a th:href="@{/}" class="btn btn-primary" role="button">Voltar</a> <a
					th:href="@{/admin/machineForm}" class="btn btn-danger" role="button">Criar</a>
			</div>
		</div>
	</div>

</body>
</html>