<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content">

		<h1>Elros Application</h1>

		<h3>Bem-Vindo</h3>

		<p>Faça o seu login para registrar quantidade de peças produzidas
			ou acompanhar a performance da operação.</p>

		<h3>Sub-Section</h3>

		<p>Lorem ipsum dolor sit amet, eu in mollis morbi nunc nulla
			metus, ipsum etiam dictum natoque nec eleifend. Congue nec porttitor,
			ullamcorper neque eu posuere tristique arcu, feugiat magna quam
			tristique nonummy diam torquent, venenatis ut, fugit suspendisse quis
			nec.</p>

	</div>

</body>
</html>